* {
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #363a3d;
  color: #fff;
}

.nav-links {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: #fff;
}

.users-col {
  list-style: none;
  line-height: 2;
}

.page-sub-title {
  color: #999999;
  font-size: 12px;
}
